@-webkit-keyframes rotate-left { 
  from { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  to { -webkit-transform: rotate(0); transform: rotate(0); } 
}

@keyframes rotate-left { 
  from { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  to { -webkit-transform: rotate(0); transform: rotate(0); } 
}

@-webkit-keyframes rotate-right { 
  from { -webkit-transform: rotate(0); transform: rotate(0); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } 
}

@keyframes rotate-right { 
  from { -webkit-transform: rotate(0); transform: rotate(0); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } 
}

@-webkit-keyframes rotate-left-right { 
  0% { -webkit-transform: translate(-50%, -50%) rotate(0); transform: translate(-50%, -50%) rotate(0); }
  30% { -webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); }
  50% { -webkit-transform: translate(-50%, -50%) rotate(0); transform: translate(-50%, -50%) rotate(0); }
  100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); } 
}

@keyframes rotate-left-right { 
  0% { -webkit-transform: translate(-50%, -50%) rotate(0); transform: translate(-50%, -50%) rotate(0); }
  30% { -webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); }
  50% { -webkit-transform: translate(-50%, -50%) rotate(0); transform: translate(-50%, -50%) rotate(0); }
  100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); transform: translate(-50%, -50%) rotate(360deg); } 
}

body { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 10%; 
  min-height: 50vh; 
  background-color: #000; 
  margin: 0; 
}

.reactor { 
  position: relative; 
}

.triangle { 
  position: absolute; 
  top: 66%; 
  left: 50%; 
  z-index: 99; 
  transform: translate(-50%, -50%); 
  width: 155px; 
  aspect-ratio: 1; 
  background-color: rgba(96,183,205,1); 
  clip-path: polygon(50% 88%, 0 0, 100% 0); 
}

.triangle::after { 
  content: ''; 
  display: block; 
  position: absolute; 
  top: 45%; 
  left: 50%; 
  z-index: 999; 
  width: 120px; 
  height: 120px; 
  transform: translate(-50%, -50%); 
  background-color: #000; 
  clip-path: polygon(50% 90%, 0 0, 100% 0); 
}

.circle-1 { 
  position: relative; 
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  background: linear-gradient(rgba(37,130,181,1), rgba(96,183,205,1)); 
  animation: rotate-right 2s linear infinite; 
}

.circle-1::before { 
  content: ''; 
  position: absolute; 
  z-index: 1; 
  inset: 10px; 
  border-radius: 50%; 
  background-color: #000; 
}

.circle-1 span { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  border-radius: 50%; 
  background: linear-gradient(rgba(37,130,181,1), rgba(96,183,205,1)); 
}

.circle-1 span:nth-child(1) { filter: blur(5px); }
.circle-1 span:nth-child(2) { filter: blur(5px); }
.circle-1 span:nth-child(3) { filter: blur(15px); }
.circle-1 span:nth-child(4) { filter: blur(75px); }

.circle-2 { 
  position: absolute; 
  inset: 20px; 
  width: calc(100% - 60px); 
  height: calc(100% - 60px); 
  border-radius: 50%; 
  border: 10px solid  #60b7cd;; 
  box-shadow: 0 0 30px 30px rgba(105, 241, 241, 0.2); 
  z-index: 9; 
  animation: rotate-left 4s linear infinite; 
}

.circle-2 span { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: calc(100% + 20px); 
  height: 10px; 
  background-color: #000; 
}

.circle-2 span:nth-child(1) { transform: translate(-50%, -50%) rotate(90deg); }
.circle-2 span:nth-child(2) { transform: translate(-50%, -50%) rotate(45deg); }
.circle-2 span:nth-child(3) { transform: translate(-50%, -50%) rotate(-45deg); }
.circle-2 span:nth-child(4) { transform: translate(-50%, -50%) rotate(30deg); }
.circle-2 span:nth-child(5) { transform: translate(-50%, -50%) rotate(-30deg); }
.circle-2 span:nth-child(6) { transform: translate(-50%, -50%) rotate(0deg); }
.circle-2 span:nth-child(7) { transform: translate(-50%, -50%) rotate(55deg); height: 5px; }
.circle-2 span:nth-child(8) { transform: translate(-50%, -50%) rotate(125deg); height: 5px; }

.circle-3 { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 99; 
  border-radius: 50%; 
  box-shadow: 0 0 10px 10px rgba(105, 241, 241, 0.2); 
}

.circle-3::after { 
  content: ''; 
  display: block; 
  width: 115px; 
  height: 115px; 
  border-radius: 50%; 
  border: 3px dotted rgba(105, 241, 241, 0.8); 
  animation: rotate-right 10s linear infinite; 
}

.circle-4 { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 99; 
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  box-shadow: 0 0 10px 10px rgba(105, 241, 241, 0.2); 
  animation: rotate-left-right 3s linear infinite; 
}

.circle-4 span { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: calc(100% + 10px); 
  height: 10px; 
  background-color: rgba(37,130,181,1); 
}

.circle-4 span:nth-child(1) { transform: translate(-50%, -50%) rotate(90deg); }
.circle-4 span:nth-child(2) { transform: translate(-50%, -50%) rotate(45deg); }
.circle-4 span:nth-child(3) { transform: translate(-50%, -50%) rotate(-45deg); }

.circle-5 { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  z-index: 99; 
  width: 70px; 
  height: 70px; 
  background-color: rgba(105, 241, 241, 0.8);
  border-radius: 50%; 
  box-shadow: 0 0 10px 10px rgba(105, 241, 241, 0.2); 
  animation: rotate-left-right 5s linear infinite; 
  
}

.circle-5 span { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: calc(100% + 5px); 
  height: 5px; 
  background-color: rgba(105, 241, 241, 0.8); 
}

.circle-5 span:nth-child(1) { transform: translate(-50%, -50%) rotate(90deg); }
.circle-5 span:nth-child(2) { transform: translate(-50%, -50%) rotate(45deg); }
.circle-5 span:nth-child(3) { transform: translate(-50%, -50%) rotate(-45deg); }

.circle-6 { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 35px; 
  height: 35px; 
  border-radius: 50%; 
  border: 3px solid rgba(105, 241, 241, 0.8); 
  animation: rotate-left-right 10s linear infinite; 
}

.circle-7 { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 2; 
  width: 8px; 
  height: 8px; 
  border-radius: 50%; 
  background-color: #000; 
}

.circle-8 { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  z-index: 99; 
  width: 35px; 
  height: 35px; 
  border-radius: 50%; 
  box-shadow: 0 0 10px 10px rgba(140,108,140,1);
  animation: rotate-left-right 5s linear infinite; 
}

.circle-8 span { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: calc(100% + 10px); 
  height: 10px; 
  background-color: rgba(105, 241, 241, 0.8); 
}

.circle-8 span:nth-child(1) { transform: translate(-50%, -50%) rotate(90deg); }
.circle-8 span:nth-child(2) { transform: translate(-50%, -50%) rotate(45deg); }
.circle-8 span:nth-child(3) { transform: translate(-50%, -50%) rotate(-45deg); }




